---
import Details from "@/components/projects/Details.svelte";
import Hero from "@/components/projects/Hero.svelte";
import Image from "@/components/projects/Image.svelte";
import Sidebar from "@/components/projects/Sidebar.svelte";
import Layout from "@/layouts/Layout.astro";
import { agent } from "@/utils/agent";
import type { ProjectDetails } from "@/utils/types";

const { name } = Astro.params;
const url = `${Astro.url.origin}/api/projects/${name}`;

let projectDetails: ProjectDetails | null = null;
try {
  projectDetails = await agent.get(url).json();
} catch {
  return Astro.redirect("/404");
}
---

<Layout title={(name as string) || ""}>
  {
    projectDetails && (
      <div>
        <Hero projectDetails={projectDetails} />
        <Image client:load projectDetails={projectDetails} />
        <div class="w-full grid grid-cols-2 md:grid-cols-6 flex-col-reverse lg:flex-row items-start justify-between">
          <Details client:load projectDetails={projectDetails} />
          <Sidebar projectDetails={projectDetails} />
        </div>
      </div>
    )
  }
</Layout>

<style>
  .details {
    svg {
      @apply !w-2 !h-2;
    }
  }

  /* .project-main {
    @apply grid;
    /* grid-template-rows: auto 1fr; */
</style>
